__MACOSX/*
*.sbatch

# Keep dataset folder structure placeholders
!dataset/**/.gitkeep

# Ignore dataset images recursively
dataset/**/*.jpg
dataset/**/*.jpeg
dataset/**/*.png

# Python
*.pyc
__pycache__/

# System files
.DS_Store

# Ignore virtual environment
myenv
venv

# Ignore logs
logs/

# Ignore runs
runs/*/