# Ignore all images in dataset_full, but keep folder structure
dataset/dataset_full/training_set/*/*.jpg
dataset/dataset_full/training_set/*/*.png
dataset/dataset_full/training_set/*/*.jpeg
dataset/dataset_full/validation_set/*/*.jpg
dataset/dataset_full/validation_set/*/*.png
dataset/dataset_full/validation_set/*/*.jpeg

# Python
*.pyc
__pycache__/

# System files
.DS_Store

# Ignore virtual environment
myenv
venv

# Ignore Checkpoints
models/ResNet18/checkpoints/*
models/ResNet18_SE/checkpoints/*
models/ResNet18_SE_Variant/checkpoints/*
models/ResNet34/checkpoints/*
models/CCT/checkpoints/*

#Ignore confusion matrices 
model_metrics/confusion_matrices

#Ignore inference csvs for now 
model_metrics/inference_csv

# Ignore logs
logs/