__MACOSX/*
*.sbatch

# Keep dataset folder structure
!dataset/**/.gitkeep

# Ignore dataset images
dataset/**/*.jpg
dataset/**/*.jpeg
dataset/**/*.png

# Python
*.pyc
__pycache__/

# System files
.DS_Store

# Ignore virtual environment
.venv
myenv
venv

# Ignore logs
logs/

# Ignore runs
runs/*/

# Ignore previous checkpoint locations
models/*/checkpoints